# This workflow will install Python dependencies, run tests and lint with a single version of Python
name: CI
on: [push]
jobs:
  build:
    name: Python Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v5
      - name: Install dependencies
        run: |
          pip install -r requirements-release.txt
          pip install -r requirements-lint.txt
          pip install pre-commit
      - name: Lint code with flake8
        run: pre-commit run --all-files
      - name: Run tests
        run: |
          pip install --editable .
          python -m tests
